@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
/*Header*/
header {
  background-color: transparent;
  position: absolute;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #423940;
  padding: 0px 15px;
  z-index: 10;
}
header .row {
  justify-content: space-between;
  align-items: center;
}
header .brand-name a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}
header .brand-name a ::before {
  content: "";
  height: 3px;
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
header .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header .navbar ul li {
  display: inline-block;
  margin-left: 35px;
}
header .navbar ul li a {
  font-size: 15px;
  text-decoration: none;
  line-height: 72px;
  color: #ffffff;
  font-weight: 600;
  position: relative;
}
header .navbar ul li a::before {
  content: "";
  height: 3px;
  background-color: #ffffff;
  width: 0%;
  position: absolute;
  right: 0px;
  bottom: -1px;
  transition: all 0.5s ease;
}
header .navbar ul li a:hover::before {
  width: 100%;
  left: 0;
}
header .navbar ul li a:active::before {
  width: 100%;
  left: 0;
}

.sticky {
  position: fixed;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.836);
  backdrop-filter: blur(3px);
}

/*Home Section*/
.home {
  min-height: 100vh;
  background-image: url("images/1.jpg");
  background-attachment: fixed;

  background-size: cover;
  background-position: center;
  padding: 15px;
}
.home .full-screen {
  min-height: 100vh;
}
.home .home-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home .home-content .block {
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 30px;
  border-left: 5px solid #ffffff;
  margin-top: 45px;
}
.home .home-content .block h6 {
  color: #ffffff;
  font-size: 15px;
  font-weight: 200;
  margin: 0;
  padding: 0;
}
.home .home-content .block h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.home .home-content .block h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.home .home-content .block .cv-btn {
  padding-top: 20px;
}
.home .home-content .block .cv-btn a {
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid red;
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease;
  background-color: transparent;
}
.home .home-content .block .cv-btn a:hover {
  background-color: red;
  color: #ffffff;
}

/*About Me*/
.about-me {
  padding: 45px 15px;
  background-color: #000000;
}

.about-me .section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
.about-me .section-title h1 {
  display: inline-block;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 300;
  color: #ffffff;
  margin: 0 0 5px;
  position: relative;
}
.about-me .section-title h1:before {
  content: "";
  left: 0;
  position: absolute;
  height: 2px;
  right: 20%;
  background-color: red;
  bottom: 0px;
}
.about-me .section-title p.small {
  display: block;
  font-size: 14px;
  color: #838383;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.about-me .about-content {
}

.about-me .about-content .img {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.about-me .about-content .img img {
  width: 91%;
  display: block;
}

.about-me .about-content .text {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding-left: 30px;
}

.about-me .about-content .text h4 {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 5px;
  color: #ffffff;
  position: relative;
}
.about-me .about-content .text h4:before {
  content: "";
  left: 0;
  position: absolute;
  height: 2px;
  right: 5%;
  background-color: red;
  bottom: 0px;
}
.about-me .about-content .text h6 {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 15px;
  color: #ffffff;
}
.about-me .about-content .text h6 span {
  color: red;
}

.about-me .about-content .text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #838383;
  margin: 0 0 20px;
}

.about-me .about-content .text .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-me .about-content .text .info .list {
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
}
.about-me .about-content .text .info .list label {
  padding-right: 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
}
.about-me .about-content .text .info .list p {
  margin: 0;
}

section.character {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  padding: 45px 15px;
  margin: 0px;
  background-color: black;
}

.swiper-container {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 50px;
  height: 510px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 370px;
  background-color: white;

  border-color: yellow;
  border: 20px;
}
.swiper-slide-active {
  box-shadow: 0px 0px 15px 1px rgba(255, 0, 0, 1);
}

.swiper-pagination-bullet {
  background-color: red;
}
.swiper-pagination {
  cursor: pointer;
}

.imgc {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 370px;
  position: relative;
}
.textc {
  padding: 0px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: auto;
  right: auto;
  background-color: black;
  width: 100%;
  opacity: 0;
  height: 50px;
  transition: all ease 0.3s;
}
.textc:hover {
  opacity: 0.8;
  cursor: pointer;
  height: 52.8px;
}
.textc h3 :hover {
  opacity: 1;
}

.textc h3 {
  color: red;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 25px;
}
.textc span a {
  color: white !important;

  text-decoration: none;

  text-align: center;
  font-size: 15px;
}

.swiper-slide-active {
  border-color: red;
  border-width: 2px;
}
.textc span a:hover {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}

div.containerchar {
  margin-left: 6.7vw;
  margin-right: 6.7vw;
}

.header {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.header h1 {
  display: inline-block;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 300;
  color: #ffffff;
  margin: 0 0 5px;
  position: relative;
}
.header h1:before {
  content: "";
  left: 0;
  position: absolute;
  height: 2px;
  right: 20%;
  background-color: red;
  bottom: -8px;
}

/* Video section */

.clips {
  margin: 0 6.7vw;
  font-family: "Exo 2", sans-serif;
  color: #d8d8d8c9;
  padding: 1%;
}

.clips .header h1 {
  display: inline-block;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 300;
  color: #ffffff;
  margin: 0 0 5px;
  position: relative;
}
.clips .header h1:before {
  content: "";
  left: 0;
  position: absolute;
  height: 2px;
  right: 20%;
  background-color: red;
  bottom: 0px;
}

.clips h1,
.clips h3,
.clips p {
  margin: 0;
  text-transform: uppercase;
}

.clips h1 {
  font-weight: 400;
  color: #fff;
  margin-bottom: 60px;
}

.clips h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #fff;
}

.clips p {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.roll-up {
  overflow: hidden;
  position: relative;
}

.roll-up > span {
  display: inline-block;
  position: relative;
}

.roll-up > span:nth-child(1) {
  transition-delay: 0.03s;
}

.roll-up > span:nth-child(2) {
  transition-delay: 0.06s;
}

.roll-up > span:nth-child(3) {
  transition-delay: 0.09s;
}

.roll-up > span:nth-child(4) {
  transition-delay: 0.12s;
}

.roll-up > span:nth-child(5) {
  transition-delay: 0.15s;
}

.roll-up > span:nth-child(6) {
  transition-delay: 0.18s;
}

.roll-up > span:nth-child(7) {
  transition-delay: 0.21s;
}

.roll-up > span > span {
  display: inline-block;
  transition: 0.6s cubic-bezier(0.7, 0.01, 0.37, 1);
  transition-delay: inherit;
}

.roll-up > span > span:nth-child(1) {
  position: relative;
}

.roll-up > span > span:nth-child(2) {
  position: absolute;
  transform: translateY(100%);
  left: 0;
  color: #e51616;
}

.text-reveal {
  position: relative;
  overflow: hidden;
}

.text-reveal span {
  display: block;
  transition: cubic-bezier(0.7, 0.01, 0.37, 1) 0.6s;
}

.text-reveal > span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.text-reveal > span:nth-child(2) > span {
  overflow: hidden;
  transform: translateX(-100%);
}

.text-reveal > span:nth-child(2) > span:nth-child(1) {
  transition-delay: 0.1s;
}

.text-reveal > span:nth-child(2) > span:nth-child(2) {
  transition-delay: 0.2s;
}

.text-reveal > span:nth-child(2) > span:nth-child(3) {
  transition-delay: 0.3s;
}

.text-reveal > span:nth-child(2) > span:nth-child(4) {
  transition-delay: 0.4s;
}

.text-reveal > span:nth-child(2) > span:nth-child(5) {
  transition-delay: 0.5s;
}

.text-reveal > span:nth-child(2) > span:nth-child(6) {
  transition-delay: 0.6s;
}

.text-reveal > span:nth-child(2) > span:nth-child(7) {
  transition-delay: 0.7s;
}

.text-reveal > span:nth-child(2) > span > span {
  transform: translateX(100%);
  transition-delay: inherit;
}

.play-button {
  display: inline-block;
  width: 70px;
  height: 70px;
  transition: 0.5s;
}

.play-button svg {
  overflow: visible;
}

.play-button .polygon {
  fill: #ff3030;
  transition: transform 0.5s, fill 0.2s;
  transition-timing-function: cubic-bezier(0.7, 0.01, 0.37, 1);
  transform-origin: 50% 50%;
}

.card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 32%;
  width: 100%;
  height: 30%;
  padding: 3% 10%;
  box-shadow: 0 16px 24px 2px rgba(255, 0, 0, 0.219),
    0 6px 30px 5px rgba(255, 0, 0, 0.158),
    0 8px 10px -5px rgba(255, 0, 0, 0.363);
  background-size: cover;
  cursor: pointer;
  margin: 4% 7%;
}

.card:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
}
.card .card__content {
  z-index: 1;
}

.card .card__content .card__content--description {
  position: absolute;
  bottom: 20px;
  right: 0;
  margin-right: -80px;
  text-align: left;
  max-width: 175px;
}

.card:hover .play-button .polygon {
  transform: translateZ(0px) rotate(90deg);
  fill: #ff3030;
}

.card .play-button .polygon:hover {
  fill: #e21515;
}

.card:hover .roll-up > span > span:nth-child(1) {
  transform: translateY(-100%);
}

.card:hover .roll-up > span > span:nth-child(2) {
  transform: translateY(0);
}

.card:hover .text-reveal > span:nth-child(2) > span,
.card:hover .text-reveal > span:nth-child(2) > span > span {
  transform: translateX(0);
}

/* Video popup */
.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s;
}

.trailer.active {
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(5px);
}

.trailer video {
  position: relative;
  max-width: 900px;
  outline: none;
}

.close {
  position: absolute;
  top: 4%;
  right: 4%;
  cursor: pointer;
  max-width: 32px;
  filter: invert(0);
  background-color: black;
  transition: filter 0.1s;
  border-radius: 50%;
  padding: 0.5%;
}

.close:hover,
.close:active {
  filter: invert(1);
}

@media (max-width: 991px) {
  .trailer video {
    max-width: 90%;
  }
}

/*Scroll Bar*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ff1e00);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00b7ff);
}
